// Import page-specific CSS files here.
@import "home";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: white;
  background-color: white;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

a, a:hover {
  color: white;
}
