// Import page-specific CSS files here.
@import "home";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: white;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

p {
  margin: 0;
}

a, a:hover {
  color: white;
}

.container {
  max-width: 1065px;
}

@media (min-width: 992px) {
  .container {
     max-width: 1065px;
  }
}
