<div class="footer">
  <p>
    Follow us on social media. Keep up to date with news and events.
  </p>
  <div class="socials d-flex justify-content-center">
    <a href="https://www.facebook.com/BlaKary" target=”_blank” ><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/bla_kary/" target=”_blank” ><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/bla_kary" target=”_blank” ><i class="fab fa-twitter"></i></a>
    <a href="mailto:Terrelb@blakary.org" target=”_blank” ><i class="far fa-envelope"></i></a>
  </div>
  <div class="Footer-business-info">
    <div class="Footer-business-info-item Footer-business-info-item--name">Bla Kary</div>
    <div class="Footer-business-info-item">Springfield, Ma 01109</div>
    <a href="tel:4133489787" rel="tel" class="Footer-business-info-item Footer-business-info-item--phone">4133489787</a>
    <a href="mailto:Terrelb@blakary.org" title="Terrelb@blakary.org" target="_blank"
      class="Footer-business-info-item Footer-business-info-item--email">Terrelb@blakary.org</a>
  </div>
</div>