<div class="home-background">
</div>

<div class="home-container">
    <p>"Connecting riders with drivers is what we do best.
      <br>Let us be your ultimate personal driver."
      <br>- Bla Kary
    </p>
    <h1 class="rider-or-driver">Rider or Driver</h1>
    <div class="d-flex justify-content-center">
      <%= link_to "SIGN UP", new_user_registration_path, class: "home-signup-btn" %>
      <%= link_to "SCHEDULE NOW", new_user_session_path, class: "home-schedule-btn" %>
    </div>
</div>