.navbar-red-alert {
  background: red;
  width: 100%;
  padding: 20px;
}

.navbar-custom {
  justify-content: space-between;
  background: transparent;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 110px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-login {
  background: red;
}