<div class="container">
  <h2 class="mb-5" style="color: white; text-align: center;">Drivers</h1>
  
  <div class="row mt-2" style="justify-content: center;">
    <% @drivers.each do |driver| %>
    <div class="driver-card" style="    margin-bottom: 18px; width: 14rem; height: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 3px; margin-right: 18px;">
      <%= image_tag (driver.photo), class: "card-img-top", style: "    height: 51%;
    object-fit: cover;" %>
      <div class="driver-card-body" style="padding: 15px;
    font-size: 13px;">
        <h5 class="card-title"><%= driver.first_name%> <%= driver.last_name%></h5>
        <p class="card-text"><%= driver.about %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>